In [1]:
import pandas as pd
from pathlib import Path
import os

In [2]:
os.getcwd()

'/Users/Spencer_Macey/Desktop/Git/FinTech_Project_1/01-Code/DataCleaning'

In [3]:
csv_path = Path('../../02-Data/Dirty Data/Cerb/CERB.csv')

In [4]:
data = pd.read_csv(csv_path)

In [5]:
data.head()

,pcu_date_fin_de_semaine-cerb_week_ending_date,nombre_de_demandes_par_semaine-week_to_date_application_count,nombre_total_de_demandes_uniques-total_unique_applicant_count,nombre_total_de_demandes_re�ues-total_application_received_count,nombre_total_de_demandes_trait�es-total_application_processed_count,valeur_totale_en_dollars_pay�s-total_paid_dollar_value
0,2020-04-19,2890000,6279000,8675000,8382000,19804000000
1,2020-04-26,1341000,6682000,9990000,9840000,24250000000
2,2020-05-05,820000,7199000,11020000,10840000,28570000000
3,2020-05-10,608000,7332000,11375000,11290000,30482000000
4,2020-05-19,2827000,7592000,14350000,14310000,38410000000

In [6]:
data.columns = ['CERB Week End', 'Current Week App Count', 'Unique App Count', 'Total App Count', 'Total App Processed', 'Total Paid CAD']

In [7]:
data = data.set_index('CERB Week End')

In [8]:
data = data.drop(columns=['Current Week App Count', 'Unique App Count', 'Total App Count', 'Total App Processed'])

In [9]:
data

               Total Paid CAD
CERB Week End
2020-04-19        19804000000
2020-04-26        24250000000
2020-05-05        28570000000
2020-05-10        30482000000
2020-05-19        38410000000
2020-05-24        40330000000
2020-06-01        42589000000
2020-06-07        44639000000
2020-06-14        50240000000
2020-06-21        52144000000
2020-06-28        53528000000
2020-07-05        54787000000
2020-07-12        59412000000
2020-07-19        61260000000
2020-07-26        62750000000
2020-08-02        64260000000
2020-08-09        68460000000
2020-08-16        70030000000
2020-08-23        71250000000
2020-08-30        72550000000
2020-09-06        76430000000
2020-09-13        77990000000
2020-09-20        79300000000
2020-09-27        80620000000
2020-10-04        81640000000

In [11]:
data.to_csv('Cerb_data.csv')