In [1]:
import pandas as pd
from pathlib import Path
import os

In [2]:
os.getcwd()

'/Users/Spencer_Macey/Desktop/Git/FinTech_Project_1/01-Code/APIs'

In [3]:
csv_path = Path('../../02-Data/Dirty Data/Cerb/cesb-tbl1-e.csv')

In [4]:
data = pd.read_csv(csv_path)

In [5]:
data

,Claim Period,Province or Territory,Applications Approved Since Launch,Number of Eligible Employees (Line A),Number of Eligible Employees on Leave with Pay (Line AA),Number of Employees Supported by the Program (Line A + Line AA),CEWS Amount Approved Since Launch,Average CEWS Amount per Employee,Percent Distribution of Approved Applications for Each Claim Period
0,P1: March 15 to April 11,Newfoundland and Labrador,2740,30280,-,30280,55880000,1845,0.0118
1,P1: March 15 to April 11,Prince Edward Island,1040,12120,-,12120,19098000,1576,0.0045
2,P1: March 15 to April 11,Nova Scotia,4910,65620,-,65620,120993000,1844,0.0211
3,P1: March 15 to April 11,New Brunswick,4200,49010,-,49010,93895000,1916,0.0181
4,P1: March 15 to April 11,Quebec,46160,625020,-,625020,1271784000,2035,0.1983
...,...,...,...,...,...,...,...,...,...
101,P7: August 30 to September 26,Northwest Territories,70,900,-,910,1327000,1458,0.0007
102,P7: August 30 to September 26,Nunavut,10,100,-,100,169000,1690,0.0001
103,P7: August 30 to September 26,Missing,120,13260,120,13380,10283000,769,0.0012
104,P7: August 30 to September 26,Total - Period 6,99150,1649670,16610,1666280,1788379000,1073,1
105,Total (All Periods),Total (All Periods),1426750,-,-,-,45294305000,-,-

In [6]:
data = data[['Claim Period', 'Province or Territory', 'CEWS Amount Approved Since Launch']]

In [7]:
data1=pd.DataFrame()
for num in range(1,7):
    data1 = data1.append(data[
    data['Province or Territory'] == f'Total - Period {num}'
    ]
)

In [8]:
data1 = data1.append(data.iloc[-1])
data1 = data1.drop('Province or Territory', axis=1)
data1 = data1.reset_index()
data1 = data1.drop(columns=['index'])
data1 = data1.rename(columns={'CEWS Amount Approved Since Launch':'Total CAD'})

In [9]:
data1

                    Claim Period    Total CAD
0       P1: March 15 to April 11   6994199000
1          P2: April 12 to May 9   8481682000
2           P3: May 10 to June 6   8921145000
3           P4: June 7 to July 4   7887294000
4         P5: July 5 to August 1   6140259000
5      P6: August 2 to August 29   5081347000
6  P7: August 30 to September 26   1788379000
7            Total (All Periods)  45294305000

In [20]:
data1.iloc[0,0] = '2020-04-11'
data1.iloc[1,0] = '2020-05-09'
data1.iloc[2,0] = '2020-06-06'
data1.iloc[3,0] = '2020-07-04'
data1.iloc[4,0] = '2020-08-01'
data1.iloc[5,0] = '2020-08-29'
data1.iloc[6,0] = '2020-09-26'

In [21]:
data1

          Claim Period    Total CAD
0           2020-04-11   6994199000
1           2020-05-09   8481682000
2           2020-06-06   8921145000
3           2020-07-04   7887294000
4           2020-08-01   6140259000
5           2020-08-29   5081347000
6           2020-09-26   1788379000
7  Total (All Periods)  45294305000

In [22]:
data1.to_csv('Cews_df.csv')